<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title (click)="redirect()"> <!--TODO implement ionics route back feature-->
      Kunden-App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="participants && thread">

    <ion-card-content>
      <div *ngFor="let thread of thread">
        <ion-item class="item item-text-wrap" *ngFor="let text of items.items"> <!-- TODO fix error -->
          <div margin-bottom="1px" margin-top="1px">
            <ion-label class="user-id"><b> {{getParticipantById(text.creatorId)}} </b></ion-label>
            <ion-label text-wrap [innerHTML]="text.text.content"></ion-label>
          </div>
        </ion-item>
      </div>
    </ion-card-content>

    <ion-footer>
      <form>
        <ion-textarea  rows="4" placeholder="Enter a message" type="text" name="message" [(ngModel)]="messageInput"></ion-textarea>
        <ion-button expand="full" type="Submit" (click)="sendMessage(messageInput,threads[0])">Senden</ion-button>
      </form>
    </ion-footer>

  </ion-card>

</ion-content>
