<ion-header>
  <ion-toolbar>
    <ion-title>
      Kunden-App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-content>
        <ion-item class="item item-text-wrap" *ngFor="let message of messages">
          <div margin-bottom="1px" margin-top="1px">
            <ion-label class="user-id"><b> {{ message.sender }} </b></ion-label>
            <ion-label text-wrap> {{ message.message }} </ion-label>
          </div>
        </ion-item>
    </ion-card-content>

    <ion-footer>
      <form (ngSubmit)='sendMessage()'>
        <ion-textarea  rows="4" placeholder="Enter a message" type="text" name="message"></ion-textarea>
        <ion-button expand="full" type="Submit">Send</ion-button>
      </form>
    </ion-footer>

  </ion-card>

</ion-content>
